@font-face {
    font-family: 'bank';
    src: url("content/fonts/OPTIBankGothic-Medium") format("opentype");
}


/* RESET */

*,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto';
}

p,
div {
    font-family: 'Roboto';
}

html {
    width: 100%;
    height: 100%;
    background-image: url(../content/images/ruffles.png);
    background-repeat: repeat;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.4);
}

body .main-body{
    min-height: 50%;
}

header {
    padding: 2em;
    height: auto;
}

header .row {
    padding: 1em;
}

header a,
.room-tile a {
    color: grey;
    transition: all 0.5s ease;
}

header a:hover {
    color: #181735;
}

a {
    color: #FDC304;
    padding: 5px 1px;
    transition: all 0.5s ease;
}

a:active {
    color: #17876C;
    text-decoration: none;
}

a:hover,
.active-page {
    background-color: #FDC304;
    color: #181735;
    text-decoration: none;
}

.stadium-logo img {
    width: 60%;
    height: 60%;
}

.border {
    border: 1px solid;
}


/* NAV */

nav ul {
    list-style: none;
    width: 100%;
    margin: auto 0;
    position: relative;
    float: left;
    border-bottom: 2px solid #181735;
    border-top: 2px solid #181735;
}

nav ul li {
    width: calc(100% / 4);
    float: left;
    padding: 1em;
}

nav ul li a {
    padding: .5em;
    color: #181735;
}

nav ul li a:hover {
    text-decoration: none;
    color: #181735;
}

fieldset h3 {
    border-bottom: 1px solid #e5e5e5;
    width: auto;
}

.margin-lg {
    margin: 4em 0em;
}

.font-weight-md {
    font-weight: 600;
}

.full-height {
    height: 100%;
}

.footer-section {
    float: left;
    width: 100%;
    height: auto;
}

.footer-section .container footer h1 {
    padding-top: 1em;
}

.footer-section .container footer h6 {
    padding: .5em;
}

.footer-section form.form-horizontal,
.footer-section .form-control {
    margin: 1em;
}

.footer-section textarea {
    min-height: 8em;
}

.padding-lg {
    padding: 1em;
    padding-bottom: 0.5em;
}

.foot-notes {
    padding-top: 1em;
    padding-bottom: .5em;
    font-size: 0.9em;
}

.footer-section .underline {
    display: inline-block;
    width: 5em;
    margin: 1em auto;
    position: relative;
    height: 1px;
    background-color: whitesmoke;
}


/* HELPERS */

.show-menu {
    height: auto !important;
    max-height: 300px !important;
    overflow: hidden;
    animation: nav-slide-down 1s ease-in;
}


/*COLOURS*/

.grey-color {
    color: gray;
}

.charcoal-bg {
    background-color: #373737;
    color: whitesmoke;
}


/*BOOTSTRAP*/

.disabled {
    background-color: darkgrey;
}

.form-control {
    border-radius: 0px;
}

@media only screen and (max-width: 320px) {
    .stadium-logo img {
        width: 100%;
        height: 100%;
    }
    .mobile-toggle h3 {
        padding: .5em;
        border-bottom: 2px solid grey;
        border-top: 2px solid grey;
    }
}

@media only screen and (min-width: 321px) and (max-width: 759px) {
    .stadium-logo {
        width: 100%;
        height: 100%;
    }
    .mobile-toggle h3 {
        padding: 1em;
        border-bottom: 2px solid grey;
        border-top: 1px solid grey;
    }
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
    .mobile-toggle h3,
    .mobile-toggle a {
        color: grey;
    }
    .mobile-toggle a:hover {
        text-decoration: none;
        color: black;
        border: none;
        cursor: pointer;
    }
    nav ul {
        padding: 0px !important;
        max-height: 0px !important;
        overflow: hidden;
        border-bottom: 1px solid grey;
    }
    nav ul li {
        width: 100%;
        border-bottom: 1px solid grey;
    }
    nav ul li a:hover {
        border: none;
    }
    .hide-menu {
        height: auto;
        max-height: 0px;
        animation: nav-slide-up 1s ease-out;
    }
}

@media only screen and (max-width: 768px) {
    #quickbookbtn {
        width: 100%;
    }
}


/* CUSTOM ELEMENTS */

input[type="checkbox"],
input[type="radio"] {
    position: absolute !important;
    clip: rect(0, 0, 0, 0) !important;
    /*hides original checkbox. NB Display: none; will not work as a sub*/
}

input[type="checkbox"]+label::before,
input[type="radio"]+label::before {
    content: '\2713';
    display: inline-block;
    margin-right: .5em;
    background: silver;
    line-height: .85;
    font-weight: bolder;
    padding: .35em;
    color: white;
}

input[type="radio"]+label::before {
    border-radius: 100em;
}

input[type="checkbox"]:hover+label::before,
input[type="radio"]:hover+label::before {
    /*set defualt behaviour for on hover*/
    border-color: rgba(202, 51, 2, 1);
    box-shadow: 0 0 .1em .1em rgba(202, 51, 2, 1);
    /*        background-color:rgba(202, 51, 2, 0.8);*/
}

input[type="checkbox"]:checked+label::before,
input[type="radio"]:checked+label::before {
    content: '\2713';
    background-color: rgba(202, 51, 2, 1);
    border-color: rgba(202, 51, 2, 1);
    color: #FFFFFF;
}

input[type="checkbox"]:focus+label::before,
input[type="radio"]:focus+label::before {
    box-shadow: 0 0 .1em .1em rgba(202, 51, 2, 1);
}

input[type="checkbox"]:disabled+label::before,
input[type="radio"]:disabled+label::before {
    background: gray;
    box-shadow: none;
    color: #555;
    cursor: not-allowed;
}


/* KEYFRAMES */

@keyframes nav-slide-down {
    0% {
        max-height: 0px;
    }
    100% {
        max-height: 300px;
    }
}

@keyframes nav-slide-up {
    0% {
        max-height: 300px;
    }
    100% {
        max-height: 0px;
    }
}

.booking-form {
    background-color: rgba(2, 1, 34, .8);
    color: #F4F4F4;
}

.width-100 {
    width: 100% !important;
}

.margin-top-bottom {
    margin-top: 12px;
    margin-bottom: 12px;
}

.padding-top-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.padding-bottom-lg {
    padding-bottom: 40px;
}

.padding-left-right {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-lr-small {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-right {
    padding-right: 10px;
}

.no-margin {
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.no-padding {
    padding: 0px;
}

.error-height {
    height: 15px;
}

.no-border-radius,
.input-group-addon {
    border-radius: 0px;
}

.border {
    border: 3px #fff solid;
}

.booking-tabs {
    color: rgba(2, 1, 34, 1);
    background-color: rgba(202, 51, 2, 1) !important;
    border: 5px rgba(245, 245, 245, 0) solid;
    background-clip: padding-box;
    display: flex;
    transition: all 0.5s ease;
    padding: 10px 0px !important;
}

.booking-tabs:hover {
    background-color: #FDC304 !important;
}

.booking-tabs:focus {
    background-color: #FDC304 !important;
}

.tile-sm {
    height: 120px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px rgba(245, 245, 245, 0) solid;
    background-clip: padding-box;
    display: flex;
}

.tile-lg {
    height: 200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px rgba(245, 245, 245, 0) solid;
    background-clip: padding-box;
    display: flex;
}

.tile-content {
    font-size: 1.1em;
    margin: auto;
    text-align: center;
}

.tile-color-1 {
    background-color: rgba(2, 1, 34, .8);
    color: #F4F4F4;
}

.tile-color-2 {
    background-color: rgba(202, 51, 2, 0.8);
    color: #F4F4F4;
}

.tile-color-3 {
    background-color: rgba(0, 125, 95, .8);
    color: #F4F4F4;
}

.tile-color-3-solid {
    background-color: rgba(0, 125, 95, 1);
    color: #F4F4F4;
    transition: all 0.5s ease;
}

.tile-color-3-solid:hover {
    background-color: rgba(0, 125, 95, 0.7);
    color: #F4F4F4;
}

.odd-tile {
    margin-top: -120px;
}

.icon {
    font-size: 3em !important;
    margin: auto;
}

.img-tile {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .5s ease;
    /* Fade to color for Chrome and Safari */
    background-size: cover;
}

.sliding-banner {
    -webkit-transition: width 3s ease;
    transition: width 1s ease;
    padding: 12px;
    background-clip: padding-box;
    border-top: 5px rgba(245, 245, 245, 0) solid;
    border-bottom: 5px rgba(245, 245, 245, 0) solid;
    display: flex;
}

.sliding-banner a {
    margin: auto;
    float: left;
}

.sliding-banner p {
    margin: 0px;
}

.sliding-banner:hover {
    width: 100%;
}

#smoke-tile:hover,
#bar-tile:hover,
#stadium-tile:hover,
#parking-tile:hover,
#room-tile:hover,
#bayworld-tile:hover,
#park-tile:hover,
#conference-tile:hover,
#laundry-tile:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

#smoke-tile {
    background-image: url(../content/images/smoke.jpg);
}

#bar-tile {
    background-image: url(../content/images/bar.jpg);
}

#stadium-tile {
    background-image: url(../content/images/nelson-mandela-bay-stadium.jpg);
}

#parking-tile {
    background-image: url(../content/images/parking.jpg);
}

#room-tile {
    background-image: url(../content/images/purple-bed.jpg);
    background-size: cover;
}

#bayworld-tile {
    background-image: url(../content/images/bayworld.jpg);
}

#park-tile {
    background-image: url(../content/images/st-georges-park-conservatory.jpg);
}

#conference-tile {
    background-image: url(../content/images/conference.jpg);
}

#laundry-tile {
    background-image: url(../content/images/laundry.jpg);
}

#map {
    height: 85vh;
    padding: 0px;
    margin-bottom: 15px;
}
