@font-face {
    font-family: 'bank';
    src: url("content/fonts/OPTIBankGothic-Medium") format("opentype");
}


/* RESET */

*,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 1.2em;
    min-height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

header {
    padding: 2em;
    height: auto;
}

header .row {
    padding: 1em;
}

.stadium-logo img {
    width: 60%;
    height: 60%;
}

.border {
    border: 1px solid;
}


/* NAV */

nav ul {
    list-style: none;
    width: 100%;
    margin: auto 0;
    position: relative;
    float: left;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
}

nav ul li {
    width: calc(100% / 3);
    float: left;
    font-size: 1.5em;
    padding: 1em;
}

nav ul li a {
    padding: .5em;
    color: #373737;
}

nav ul li a:hover {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid grey;
}

.font-weight-md {
    font-weight: 600;
}

main {
    height: 80vh; /*for testing*/
}

.full-height {
    height: 100%;
}

.footer-section {
    float: left;
    width: 100%;
    height: auto;
}

.footer-section .container footer h1 {
    padding-top: 1em;
}

.footer-section .container footer h6 {
    padding: .5em;
}

.footer-section form.form-horizontal,
.footer-section .form-control {
    margin: 1em;
}

.footer-section textarea {
    min-height: 8em;
}

.padding-lg {
    padding: 1em;
    padding-bottom: 0.5em;
}

.footer-section a {
    color: #C0B283;
}

.footer-section a:hover {
    color: #C0B283;
    text-decoration: none;
}

.foot-notes {
    padding-top: 1em;
    padding-bottom: .5em;
    font-size: 0.9em;
}

.footer-section .underline {
    display: inline-block;
    width: 5em;
    margin: 1em auto;
    position: relative;
    height: 1px;
    background-color: whitesmoke;
}


/* HELPERS */

.show-menu {
    height: auto !important;
    max-height: 300px !important;
    overflow: hidden;
    animation: nav-slide-down 1s ease-in;
}


/*COLOURS*/

.grey-color {
    color: gray;
}

.charcoal-bg {
    background-color: #373737;
    color: whitesmoke;
}


/*BOOTSTRAP*/

.form-control {
    border-radius: 0px;
}

@media only screen and (max-width: 320px) {
    .stadium-logo img {
        width: 100%;
        height: 100%;
    }
    .mobile-toggle h3 {
        padding: .5em;
        border-bottom: 2px solid grey;
        border-top: 2px solid grey;
    }
}

@media only screen and (min-width: 321px) and (max-width: 759px) {
    .stadium-logo {
        width: 100%;
        height: 100%;
    }
    .mobile-toggle h3 {
        padding: 1em;
        border-bottom: 2px solid grey;
        border-top: 1px solid grey;
    }
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
    .mobile-toggle h3,
    .mobile-toggle a {
        color: grey;
    }
    .mobile-toggle a:hover {
        text-decoration: none;
        color: black;
        border: none;
        cursor: pointer;
    }
    nav ul {
        padding: 0px !important;
        max-height: 0px !important;
        overflow: hidden;
        border-bottom: 1px solid grey;
    }
    nav ul li {
        width: 100%;
        border-bottom: 1px solid grey;
    }
    nav ul li a:hover {
        border: none;
    }
    .hide-menu {
        height: auto;
        max-height: 0px;
        animation: nav-slide-up 1s ease-out;
    }
}


/* KEYFRAMES */

@keyframes nav-slide-down {
    0% {
        max-height: 0px;
    }
    100% {
        max-height: 300px;
    }
}

@keyframes nav-slide-up {
    0% {
        max-height: 300px;
    }
    100% {
        max-height: 0px;
    }
}

.padding-top-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-left-right {
    padding-left: 20px;
    padding-right: 20px;
}

.no-border-radius {
    border-radius: 0px;
}

.border {
    border: 3px #fff solid;
}

.tile-sm {
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px #fff solid; 
    display: flex;
}

.tile-lg {
    height: 200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px #fff solid;
    display: flex;
}

.tile-content{
    margin: auto;
    text-align: center;
}

.tile-color-1 {
    background-color: #0B3C5D;
    color: #F4F4F4;    
}

.tile-color-2 {
    background-color: #1d2731;
    color: #F4F4F4;    
}

.tile-color-3 {
    background-color: #d9b310;
    color: #F4F4F4;    
}

.odd-tile {
    margin-top: -100px;
}

.tile-overlay {
    
}

.icon {
    font-size: 5em !important;
}

.img-tile {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    background-size: cover;    
}

#smoke-tile:hover, #bar-tile:hover, #stadium-tile:hover, #parking-tile:hover, #room-tile:hover, #bayworld-tile:hover, #park-tile:hover, #conference-tile:hover, #laundry-tile:hover {
     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

#smoke-tile {
    background-image: url(../content/smoke.jpg);
}


#bar-tile {
    background-image: url(../content/bar.jpg);
}

#stadium-tile {
    background-image: url(../content/nelson-mandela-bay-stadium.jpg);
}

#parking-tile {
    background-image: url(../content/parking.jpg);
}

#room-tile {
    background-image: url(../content/purple-bed.jpg);
    background-size: cover;
}

#bayworld-tile {
    background-image: url(../content/bayworld.jpg);
}

#park-tile {
    background-image: url(../content/st-georges-park-conservatory.jpg);
}

#conference-tile {
    background-image: url(../content/conference.jpg);
}

#laundry-tile {
    background-image: url(../content/laundry.jpg);
}

