<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/site.css" type="text/css" />
    <link rel="stylesheet" href="css/vendor.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-clockpicker.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <!--todo: proper favicon-->
    <link rel="icon" href="content/stadium-hotel-logo.jpg" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The Stadium Hotel</title>
</head>

<body>
    <header class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-2">
                <div class="col-lg-4 col-md-4 col-sm-3  hidden-xs">
                    <h6 class="text-center grey-color"><b>6 Uitenhage Road North End, Port Elizabeth, 6001 <br/> South Africa</b></h6>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <h4 class=" stadium-logo text-center">
                        <a href="#"><img alt="Stadium Hotel Logo" src="content/images/stadium-hotel-logo.png" /></a>
                    </h4>
                    <br/>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3 hidden-xs">
                    <h6 class="text-center grey-color"><b>Tel: (041) 484 5537 <br/>Email: <a href="mailto:info@thestadiumhotel.co.za">info@thestadiumhotel.co.za</a></b></h6>
                </div>
            </div>

            <div class="">
                <!--contact mdetails and logo-->
                <nav class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-toggle visible-xs">
                        <h3 class="text-center"><a>Menu</a></h3>
                    </div>
                    <ul class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 hide-menu">

                        <li class="text-center font-weight-md"><a href="index.php">Home</a></li>
                        <li class="text-center font-weight-md"><a href="poi.php">Attractions</a></li>
                        <li class="text-center font-weight-md"><a href="booking.php">Book</a></li>
                        <li class="text-center font-weight-md"><a href="#contactUs">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
