<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="../css/site.css" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css"/>
        <!--todo: proper favicon-->
        <link rel="icon" href="../content/stadium-hotel-logo.jpg"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>The Stadium Hotel</title>
  </head>
  <body>
      <header>
      </header>
      <main>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                      <div id="map" class="col-lg-6 col-md-6" ></div>
                      <div id="poi" class="col-lg-6 col-md-6">
                          <h3>Main points of interest</h3>
                          <div class="row">
                              <div class="col-lg-11 sliding-banner tile-color-3">
                                  <p>
                                      12 minutes from Nelson Mandela Bay Stadium. <a href="http://www.nmbstadium.com/"><i class="fa fa-arrow-right"></i></a>  
                                  </p>
                                  <p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-10 sliding-banner tile-color-1">
                                  <p>
                                      5km from St. George's Park. <a href="http://stgeorgespark.nmmu.ac.za/"><i class="fa fa-arrow-right"></i></a> 
                                  </p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-9 sliding-banner tile-color-2">
                                  <p>
                                      9km from Bayworld Museum, Oceanarium & Snake Park. <a href="http://www.bayworld.co.za/"><i class="fa fa-arrow-right"></i></a>
                                  </p> 
                              </div>
                          </div>
                          <h3>Other points of interest</h3>
                          <div class="row">
                              <div class="col-lg-10 sliding-banner tile-color-3">
                                  <p>
                                      5km from the Port Elizabeth Golf Club. <a href="http://www.pegc.co.za/index.html"><i class="fa fa-arrow-right"></i></a> 
                                  </p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-9 sliding-banner tile-color-2">
                                  <p>
                                      23km from Seaview Predator Park. <a href="http://www.seaviewpredatorpark.com"><i class="fa fa-arrow-right"></i></a>
                                  </p> 
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-9 sliding-banner tile-color-2">
                                  <p>
                                      20km from 15.	Kragga Kamma Game Park. <a href="http://www.kraggakamma.co.za/ "><i class="fa fa-arrow-right"></i></a>
                                  </p> 
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-lg-11 sliding-banner tile-color-1">
                                  <p>
                                      26km from	Auto Pavilion . <a href="http://www.autopavilion.co.za/home.htm "><i class="fa fa-arrow-right"></i></a>  
                                  </p>
                                  <p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </main>      
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyiTwycmqY48NdJEjR1uDH-eeUgirJdJw&signed_in=true&callback=initMap" async defer></script>
      <script src="../js/map.js">
      </script>
      
    </body>
</html>