<div class="charcoal-bg">
    <div class="text-center row">
        <div style="display:inline-table; margin:12px;" class="col-lg-3 col-md-3 col-sm-3 padding-left-right input-group date" id="arrivaldatepicker">
            <input type="text" class="no-border-radius form-control" placeholder="Arrival Date" />
            <span class="no-border-radius input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
        </div>
        <div style="display:inline-table; margin:12px;" class="col-lg-3 col-md-3 col-sm-3 padding-left-right input-group date" id="departdatepicker">
            <input type="text" class=" no-border-radius form-control" placeholder="Departure Date" />
            <span class="no-border-radius input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
        </div>

        <div style="display:inline-table; margin:12px;" class="col-lg-2 col-md-2 col-sm-2 input-group ">
            <input type="text" class=" form-control" placeholder="Persons" />
            <span class="no-border-radius input-group-addon">
                <i class="fa fa-user "></i></span>
        </div>

        <div style="display:inline-table; margin:12px;" class="col-lg-2 col-md-2 col-sm-2 input-group" id="quickbookbtn">
            <a style="border-style:none;" class="tile-color-2 no-border-radius btn-md btn btn-primary form-control ">Book Now</a>

        </div>
    </div>
</div>