<div class="">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="">
                <div class="col-lg-1 col-md-1 tile-sm tile-color-1 hidden-xs hidden-sm"><i  class="fa fa-money icon"></i></div>
                <div class="col-lg-3 col-md-3 tile-sm tile-color-1">
                    <span class="tile-content">Afforable and convenient</span>
                </div>
                <div class="col-lg-1 col-md-1 tile-sm tile-color-2 hidden-xs hidden-sm img-tile" id="smoke-tile"></div>
                <div class="col-lg-3 col-md-3 tile-sm tile-color-2 ">
                    <span class="tile-content">Smoke-free environment</span>
                </div>
                <div class="col-lg-1 col-md-1 tile-sm tile-color-1 hidden-xs hidden-sm img-tile" id="bar-tile"></div>
                <div class="col-lg-3 col-md-3 tile-sm tile-color-1 ">
                    <span class="tile-content">Casual restaurant & bar</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="">
                <div class="col-lg-2 col-md-2 tile-lg tile-color-3 hidden-xs hidden-sm img-tile" id="stadium-tile"></div>
                <div class="col-lg-4 tile-lg col-md-4 tile-color-3 ">
                    <span class="tile-content">
                        <p>
                            12 minutes from Nelson Mandela Bay <a href="http://www.nmbstadium.com/">Stadium</a>. 
                        </p>
                        <p>
                            The stadium, with a capacity of 46 000, received a bronze award from the European Architectural Award for Sports Facilities in 2011. 
                        </p>
                    </span>
                </div>
                <div class="col-lg-1 col-md-1 tile-sm tile-color-2 hidden-xs hidden-sm img-tile" id="parking-tile"></div>
                <div class="col-lg-2 col-md-2 tile-sm tile-color-2 ">
                    <span class="tile-content">Complimentary secured parking</span>
                </div>
                <div class="col-lg-1 col-md-1 tile-sm tile-color-2 hidden-xs hidden-sm"><i class="fa fa-wheelchair icon"></i></div>
                <div class="col-lg-2 col-md-2 tile-sm tile-color-2 ">
                    <span class="tile-content">Wheelchair accessible</span>
                </div>
                <div class="col-lg-2 col-md-2 tile-lg tile-color-1 hidden-xs hidden-sm img-tile" id="room-tile" ></div>
                <div class="col-lg-4 col-md-4 tile-lg tile-color-1">
                    <span class="tile-content">
                        <p>Rooms have private bathrooms & TVs with cable channels. Some rooms have bunk beds.</p>
                        <p>Suites have additional living areas and kitchenettes</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="odd-tile hidden-xs hidden-sm">
                <div class="col-lg-1 col-md-1 tile-sm tile-color-2 hidden-xs hidden-sm img-tile" id="bayworld-tile"></div>
                <div class="col-lg-5 col-md-5 tile-sm tile-color-2 ">
                    <span class="tile-content">
                        <p>
                            9km from <a href="http://www.bayworld.co.za/">Bayworld</a> Museum, Oceanarium & Snake Park.
                        </p> 
                        <p>
                            This natural & cultural history museum is one of the leading tourist attractions in Nelson Mandela Bay.
                        </p>
                    </span>
                </div>
            </div>
            <!--the following div replaces the preceding div in mobile view, to remove .odd-tile on small devices-->
            <div class="hidden-md hidden-lg">
                <div class="col-lg-5 tile-lg tile-color-2 ">
                    <span class="tile-content">
                        <p>
                            9km from <a href="http://www.bayworld.co.za/">Bayworld</a> Museum, Oceanarium & Snake Park.
                        </p> 
                        <p>
                            This natural & cultural history museum is one of the leading tourist attractions in Nelson Mandela Bay.
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="hidden-xs hidden-sm">
                <div class="col-lg-1 col-md-1 tile-sm tile-color-1 hidden-xs hidden-sm img-tile" id="park-tile"></div>
                <div class="col-lg-4 col-md-4 tile-sm tile-color-1 colourize">
                    <span class="tile-content">
                        <p>
                            5km from <a href="http://stgeorgespark.nmmu.ac.za/">St. George's Park</a>. 
                        </p>
                        <p>
                            It has been around since 1859 and is currently a world class 18 500 seater stadium.
                        </p>
                    </span>
                </div>
            </div>
            <!--the following div replaces the preceding div in mobile view, to remove .odd-tile on small devices-->
            <div class="hidden-md hidden-lg">
                <div class="col-lg-5 tile-lg tile-color-1 ">
                    <span class="tile-content">
                        <p>
                            5km from <a href="http://stgeorgespark.nmmu.ac.za/">St. George's Park</a>. 
                        </p>
                        <p>
                            It has been around since 1859 and is currently a world class 18 500 seater stadium.
                        </p>
                    </span>
                </div>
            </div>
            <div>
                <div class="col-lg-1 col-md-1 tile-sm tile-color-3 hidden-xs hidden-sm img-tile" id="conference-tile"></div>
                <div class="col-lg-3 col-md-3 tile-sm tile-color-3 ">
                    <span class="tile-content">
                        Conference facilities
                    </span>
                </div>
                <div class="col-lg-1 col-md-1 tile-sm tile-color-2 hidden-xs hidden-sm img-tile" id="laundry-tile"></div>
                <div class="col-lg-2 col-md-2 tile-sm tile-color-2 ">
                    <span class="tile-content">Laundry services</span>
                </div>
            </div>
        </div>
    </div>
</div>